@media (max-width: 1280px) {
    .container {
        width: 1024px;
    }
    .header {
        .nav {
            &-list {
                display: none;
            }
            .menu {
                &-wrapper {
                    display: block;
                }
                display: block;
                &.open {
                    i {
                        &:last-child {
                            display: block;
                        }
                        &:first-child {
                            display: none;
                        }
                    }
                }
                i {
                    display: block;
                    transition: var(--transition);
                    &:last-child {
                        display: none;
                    }
                }
            }
            &-left {
                justify-content: space-between;
            }
            &-right {
                justify-content: flex-end;
                gap: 20px;
            }
            .call {
                display: none;
            }
        }
    }

    .help {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    .header {
        .nav {
            &-left {
                width: 30%;
            }
            &-right {
                width: 70%;
            }
        }
    }

    .hero {
        width: 100%;
        background: #090d14;
        padding-bottom: 110px;
        & > div {
            &:first-child {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column-reverse;
            }
        }
        &-content {
            margin-bottom: 40px;
        }
        &-content,
        &-img {
            width: 100%;
        }
    }
    .pros {
        &-wrapper {
            flex-direction: column;
        }
    }

    .news {
        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &-left,
        &-right {
            width: 100%;
        }
        &-left {
            height: 400px;
        }
        &-small {
            &:nth-child(2) {
                flex-direction: row-reverse;
            }
        }
    }
}

@media (min-width: 1024px) {
    .pros {
        margin: 0 100px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
    .header {
        .nav {
            &-left {
                width: 100%;
                justify-content: flex-start;
                .logo {
                    flex: 1;
                    text-align: center;
                }
            }
            &-right {
                display: none;
            }
            &-respon {
                padding: 0;
                padding-bottom: 16px;
                display: block !important;
                background: #090d14;
                & > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .call {
                    display: block;
                }
            }
        }
    }

    .help {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .contact {
        padding: 32px 0;
        form {
            .contact-area {
                display: flex;
                flex-direction: column;
                gap: 24px;
                & > div {
                    &:first-child,
                    &:last-child {
                        width: 100%;
                    }
                }
            }
        }
    }

    .news {
        &-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 24px;
            margin-bottom: 24px;
        }
        &-left {
            height: 400px;
        }
        &-more {
            flex: 1;
            margin-left: auto;
        }
    }

    .partner {
        width: 240px;
        height: 100px;
    }

    .quest {
        padding: 16px 0;
        &-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .hero {
        &-title {
            font-size: 32px;
            margin-bottom: 15px;
            span {
                font-size: 40px;
            }
        }
        &-btns {
            button {
                width: 40px;
                height: 40px;
            }
        }
        &-slider {
            margin-top: 12px;
            display: flex;
            span {
                width: 30px;
            }
        }
    }
    .btn {
        a {
            padding: 10px 52px;
        }
    }
    .contact {
        form {
            .btn {
                display: flex;
                flex: 1;
                width: 100%;
                margin-left: 0;
                margin-top: 24px;
                a {
                    padding: 10px 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }

    .footer {
        &-bottom {
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;
                a {
                    order: -1;
                }
            }
        }
    }

    .menu {
        &-wrapper {
            .footer {
                &-bottom {
                    margin-top: 145px !important;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .partner {
        width: 210px;
        height: 80px;
    }
    .hero {
        &-title {
            font-size: 24px;
            span {
                font-size: 32px;
            }
        }
        &-btn {
            .btn {
                width: 100%;
                a {
                    padding: 6px;
                }
            }
        }
    }
    .tarif {
        padding-bottom: 0;
    }
    .help {
        padding-top: 0px;
    }
    .title {
        font-size: 28px;
    }
    .news {
        &-left {
            padding: 8px;
            padding-bottom: 12px;
            height: 350px;
        }
        &-title {
            font-size: 18px;
        }
    }
    .partners {
        .swiper {
            &-slide {
                a {
                    width: auto;
                    height: auto;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .header {
        &-top {
            ul {
                align-items: center;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    width: 0px;
                }
                padding-top: 5px;
            }
        }
    }
    .news {
        &-small {
            flex-direction: column;
            & > div {
                text-align: center;
            }
            &:nth-child(2) {
                flex-direction: column;
            }
        }
    }
}
.menu {
    width: 30px;
}
